@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

*,
:after,
:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  -webkit-font-smoothing: antialiased;
}

body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Lato', sans-serif;
  font-size: 15px;
}

body {
  background-color: #ffffff !important;
  width: 100vw;
  overflow: hidden;
  height: 100vh;
  font-family: 'Lato', sans-serif;
  color: #d2dae2;
}

a {
  color: #0fbcf9;
  text-decoration: none;
}
