@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #1e272e !important;
  background: url('../assets/mars_planet.png') no-repeat;
  background-size: contain;
  background-position: bottom -400px center;
  width: 100vw;
  overflow: hidden;
  height: 100vh;
  font-family: 'Lato', sans-serif;
  color: #d2dae2;
}

a {
  color: #0fbcf9;
  text-decoration: none;
}
